/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(./pics/bjjlogo.png);
}

#errorMsg {
	color: red;
	text-align: center;
	font-size: 12px;
	padding-bottom: 20px;

}


.sign-up-form {
	width: 500px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
	background: #fff;
	padding: 20px;
	margin: 5% auto 0;
	text-align: center;
}

.sign-up-form h1 {
	color: #1c8adb;
	margin-bottom: 30px;
}

.input-box {
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #999;
	outline: none;
}

#county #country {
	text-align: left;
}

button {
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}

#signup-btn,
#reset-btn {
	background-color: #1c8adb;

}

#login-btn {
	background-color: #21afde;
}

a {
	text-decoration: none;
}

hr {
	margin-top: 20px;
	width: 95%;
}


.or {
	background: solid #fff;
	width: 30px;
	margin: -30px auto 10px;
}


img {
	margin-top: -60px;
}